/* 
   Created on : Sep 30, 2017, 11:37:03 PM
   Author     : Jacob
*/

body {
    display: block;
    background: gainsboro;
}

h1 {
    text-align: left;
    color: black;
    font-family: fantasy;
    font-size: 200%;
    box-shadow: 2px 2px 3px #000; 
    padding: 15px;
    height: 25px;
}

#displayContainer {
    height: 40px;
    display: block;
    background: inherit;
}


.viewport-tile-marker{
    position: fixed;
    top: 15%;
    left: 2%;
    z-index: -20;


    width: 10xp;
    height: 10px; 
    /*background-color: cyan;*/
}

.flex-container {
    display: -webkit-flex;
    flex-direction: row;
    transition: box-shadow 2s;
    display: flex;
    align-items: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    background-color: #ff3399;
    font-weight: bold;
    font-size: 18px;


    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/; 
    /*flex-flow: column wrap;*/
    /*align-content: stretch;*/
}

.flex-tile-location{
    overflow: visible;
    text-align: center;
    transition:width .6s cubic-bezier(0.65, 0.05, 0.36, 1),
        height .6s cubic-bezier(0.65, 0.05, 0.36, 1),
        box-shadow .3s,
        z-index 0s 1s;
    width: 100px;
    height: 100px;
    margin: 10px;
    z-index:1;
}
.flex-tile {
    overflow:hidden;
    font-size: 16px;
    background: #525252;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #000; 
    color: white;

    border-width: 1px;
    border-color:  black;
    border-style: solid;

    text-align: center;
    /*    transition: transform 1s .6s,*/
    transition: top .4s ease-in-out .4s,
        left .4s ease-in-out.4s,
        width .4s cubic-bezier(0.65, 0.05, 0.36, 1),
        height .4s cubic-bezier(0.65, 0.05, 0.36, 1),
        box-shadow .3s;
    /*background-color: cornflowerblue;*/
    top: 0px;
    left: 0px;
    width: 113px;
    height: 113px;
    margin: 0;
    position: relative;
    z-index: -1;
}
.observer-carousel-item{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*border-radius: 10px;*/
    margin: 8px;  
}

.classWithShadow{
    -moz-box-shadow: 3px 3px 4px #000;  
    -webkit-box-shadow: 3px 3px 4px #000; 
    box-shadow: 6px 6px 10px #000; 
    width: 150px;
    height: 230%;
    z-index: 11;
    transition:top .4s ease-in-out 0s,
        left .4s ease-in-out 0s,
        width .4s cubic-bezier(0.45, 0.05, 0.36, 1) .4s,
        height .4s cubic-bezier(0.45, 0.05, 0.36, 1) .4s,
        box-shadow .3s;
}
.parentBoxClassWithShadow{
    z-index: 3;
    transition: z-index 0s 0s;
}
.observer-item-open{
    z-index: 100;
    width: 500px;
    height: 800px;
    /*height: 300px;*/
}
.observer-button-pressed{

    -moz-box-shadow: 0px;  
    -webkit-box-shadow: 0px; 
    box-shadow: 1px 1px 1px black; 
}

.observer-carousel-item{
    z-index: 10;
    width: 100px;
    height: 75px;
}