/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 28, 2015, 9:44:12 PM
    Author     : Jacob
*/

body {
    background-color: antiquewhite;
    
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
/*div {
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}*/

div{
    width: 100%;
    height: 300px; 
    color: crimson; 
}

#carBlock1{
    width: 500px;
    height: 300px;
    background-color: #33ff33;
    padding: 30px;
    color: aqua;
}